body {
    margin: 0;
    background: #1f086b;
}

.race {
    display: flex;
    align-items: flex-start;
    width: 1024px;
    height: 500px;
    margin: auto;
}

.road {
    background: #777777;
    width: 1024px;
    height: 500px;
    border-bottom: 15px dashed white;
    border-right: 15px solid #086B1F;
    position: relative;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    & button {
        height: 80px;
        width: 150px;
        background: #086B1F;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        font-size: 30px;
        font-family: mario;
        border: #086B1F;
        color: white;
        &:hover {
            background: #086B1F;
            color: white;
        }
        &[disabled] {
            background: #086B1F;
            color: white;
            opacity: 0.5;
        }
    }
}

@font-face {
    font-family: mario;
    src: url(../assets/Mario.ttf);
}

h1 {
    color: white;
    font-family: mario;
    font-size: 50px;
    text-align: center;
}